
<div id="for">
	<div class="contact">
		<div class="other">
			<div class="info">
				<h2 id="quote">Plan your holidays with our assistance,

                    just fill in your details.</h2>
			</div>
		</div>
		<div class="form">
			<h1>Get In Touch</h1>
			<form action="">
				<div class="flex-rev">
					<input type="text" placeholder="Name" name="name" id="name" />
					
				</div>
				<div class="flex-rev">
					<input type="email" placeholder="Email" name="email" id="email" />
					
				</div>

				<div class="flex-rev">
                    <input type="number" placeholder="Mobile" name="email" id="email" />
				</div>
				<button>Submit</button>
			</form>
		</div>
	</div>
</div>