<nav class="navbar navbar-light navbar-expand-md fixed-top bg-white">
    <div class="container-fluid"><a class="navbar-brand" href="#">Travel & Tourism</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav text-right text-white ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" [routerLink]="['/about']">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link  active"  routerLink="/service">Service</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link  active" routerLink="/help">Help</a></li>
            </ul>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                  District
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="nav-item dropdown-item" routerLink="/kozhikkode">Kozhikkode</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/kannur">Kannur</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/kasargod">Kasargod</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/malappuram">Malappuram</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/wayanad">Wayanad</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/trivandrum">Trivandrum</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/alappuzha">Alappuzha</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/pathanamthitta">Pathanamthitta</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/idukki">Idukki</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/trissur">Trissur</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/kochi">Kochi</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/palakkad">Palakkad</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/kollam">Kollam</a></li>
                  <li><a class="dropdown-item" href="#" routerLink="/kottayam">Kottayam</a></li>












                </ul>
              </div>
           
        </div>
    </div>
</nav>