<div class="row" style="height: 40px;"></div>
<div class="services pd">
    <div class="container">
      <h3 class="title">Why us</h3>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="square"><i class="fas fa-user-shield"></i></div>
          <div class="serv">
            <h5>Trusted Advisor</h5>
            <p>We pioneered group travel in india & are continuously evolving and investing in leading edge technology for a perfect holiday.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="serv">
            <div class="square"><i class="fas fa-cogs"></i></div>
            <h5>Responsive</h5>
            <p>Our holidays are co-created with our customers,ensuring suggestions and feedback are the basis of creating magical holidays.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-globe"></i></div>
          <div class="serv">
            <h5>Memorable Experiences</h5>
            <p>Join the Travel & Tourism -Over 5 lac customers have created their most memorable Experiences with us.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="square"><i class="fas fa-user-shield"></i></div>
          <div class="serv">
            <h5>Recognize & Connect</h5>
            <p>An Experience team of over 1000 travel professionals across 160+ touch points in india & NRI markets to cater to your travel needs.</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row" style="height: 50px;"></div>