<div class="row" style="height: 160px;"></div>
<div class="container">
 <div class="row">
    <h1>ALAPPUZHA</h1>   
    <div class="row" style="height: 60px;"></div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">North Seven</span>
                    <h5><a href="#">Ernakulam, Cochin</a></h5>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="left">
                            <p>Located in Cochin, within 14 km of Kochi Biennale and 4.8 km of Cochin Shipyard, North Seven provides accommodation with a terrace and free WiFi throughout the property as well as free private parking...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="btn mb-30">
                Find More
            </div>
        </div>
    </div>
</div>